<div class="panel col-sm-6 col-sm-offset-3">
    <div class="panel-heading">
        <h3>用户注册</h3>
    </div>
    <div class="panel-body">
        <form role="form" class="row">
            <div class="form-group col-md-6">
                <label for="fullName">姓名</label>
                <input id="fullName" type="text" ng-model="user.fullName" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label for="username">用户名</label>
                <input id="username" type="text"ng-model="user.username" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label for="password">密码</label>
                <input id="password" type="password" ng-model="user.password" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label for="confirmPassword">验证密码</label>
                <input id="confirmPassword" type="password" ng-model="user.confirmPassword" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label for="email">邮件地址</label>
                <input id="email" type="email" ng-model="user.email" class="form-control" />
            </div>

        </form>
    </div>
</div>
