$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
    font-size: 13px;
    height: 100%;
}

/**
* Bootstrap Overwrite
*/
.yunmart {
    .container {
        width: 1000px;
    }
    .thumbnail {
        border: 0px;
        padding: 0px;
    }
    .list-group-item-heading {
        margin-bottom: 0px;
        border-bottom: 0px;
        background-color: #f5f5f5;
    }
    .pagination {
        a {
            color: #666666;
            background: #FFFFFF;
            border: 1px solid #CCCCCC;
            box-shadow: 0 0 2px 2px #F0F0F0 inset;
            border-radius: 0px !important;
            margin-right: 10px;
        }
        a:hover {
            color: #666666;
        }
        .active a {
            color: #CC0000;
        }
        .active a:hover {
            background-color: #CC0000;
            color: #FFFFFF;
            border-color: #CCCCCC;
            box-shadow: 0 0 0 transparent;
        }
        .disabled {
            display: none;
        }
    }
    .alert {
        border-radius: 0px;
    }
}

header {
    .navbar-header {
        .logo {
            background-image: url('/images/YunLogo.png');
            background-repeat: no-repeat;
            width: 150px;
            height: 50px;
            background-position-y: 10px;
        }
    }

    .navbar-default {
        background-color: #484848;
        border-radius: 0;
        border: 0;
        ul.navbar-nav li a,
        ul.navbar-nav li a:visited{
            color: #FFFFFF;
        }
        ul.navbar-nav li a:hover {
            background-color: #343434;
            color: #FFFFFF;
        }
        ul.navbar-nav li.active a {
            background-color: #343434;
            color: #FFFFFF;
        }
        .dropdown {
            .dropdown-menu a,
            .dropdown-menu a:visited{
                color: #484848;
            }
            .dropdown-menu a:hover {
                color: #FFFFFF;
            }
            .nav-user-menu {
                float: left;
                avatar{
                    float: left;
                }

                .nav-user-text{
                    float: left;
                    margin-left: 10px;
                }
            }
            .thumbnail {
                height: 20px;
                padding: 0px;
                width: 20px;
                margin: 0px;
            }

        }
    }
}

footer {
    background-color: #484848;
    .qr-code {
        color: #FFFFFF;
        text-align: center;
        margin-top: 30px;
        height: 215px;
        .logo {
            width: 145px;
            margin-bottom: 10px;
        }
    }
}

.main {
    margin-top: -20px;
    .product-section {
        margin-top: 20px;
    }
    .category-list .panel-body {
        padding-left: 0px;
    }
    .tab-content{
        padding-top: 10px;
    }
        //.panel {
    //    border: 0px;
    //    box-shadow: 0 0 0 transparent;
    //    .panel-default {
    //    }
    //    .panel-heading {
    //        background-color: transparent;
    //        padding-left: 0px;
    //        border-bottom: 2px solid #000;
    //    }
    //    .panel-body {
    //        li {
    //            list-style: none;
    //        }
    //    }
    //}
    .product-list {
        .filter-panel {
            background-color: #e7e7e7;
            border: 1px solid #484848;
            margin-bottom: 10px;
            height: 40px;
            .view-method {
                padding: 10px;
                .view-label {
                    float: left;
                    width: 80px;

                }
                .icon-button {
                    float: left;
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .product.list {
            float: left;
            border-bottom: 1px solid #eeeeee;
            margin-bottom: 15px;
            .thumbnail {
                width: 25%;
                float: left;
                max-height: 140px;
                img {
                    max-height: 140px;
                }
            }
            .information {
                padding-left: 10px;
                width: 75%;
                float: left;
                .name {
                    font-weight: bold;
                    font-size: 16px;
                    padding: 3px 0px
                }
                .button-group {
                    margin-top: 15px;
                }
            }
        }

        .product{
            .product-logo {
                width: 120px;
                border-radius: 10%;
                margin: 0 10px 10px 0;
                box-shadow: 2px 2px 5px 2px #666666;

            }
            .button-group {
                margin-top: 15px;
            }
        }

        .product.icon-view{
            .media {
                float: left;
                width: 25%;
                .product-logo {
                    margin: 0px;
                }
            }
        }
    }
}

.home {
    margin-top: 40px;
    .product-list {
        .product-logo {
            width: 80px;
        }
    }
    .featured-products {
        border-bottom: 1px #EEEEEE solid;
        padding-bottom: 15px;
    }
}

.product-comment-list {
    .comment-items {
        height: 100px;
    }
}

.login {
    .register{
        margin-left: 10px;
    }
}

.user-profile {
    .summary {
        .user-avatar {
            img {
                padding: 20px;
            }
            #changeAvatarIcon {
                border: 1px #EEEEEF solid;
                border-radius: 2px;
                position: absolute;
                padding: 8px;
                right: 20px;
                background-color: #EEEEEE;
                top: 20px;
                display: none;
            }
        }
        .user-avatar:hover #changeAvatarIcon {
            display: block;
        }
    }
}

.modal-body .preview img{
    max-height: 300px;
    max-width: 300px;
}
